<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Contact Us</title>

		<!-- fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7COswald:300,400,500,600,700" rel="stylesheet" type="text/css">

		<!-- styles -->
        <link href="css/plugins.css" rel="stylesheet" type="text/css">
        <link href="css/style.css" rel="stylesheet" type="text/css">
	</head>
  <body class="loader">
    <!-- loading start -->
    <div class="loading">
        <img class="logo-loading" src="images/logo/logo-loader.png" alt="logo">
      </div><!-- loading end -->

    <!-- pointer start -->
    <div class="pointer" id="pointer">
      <i class="fas fa-long-arrow-alt-right"></i>
      <i class="fas fa-search"></i>
      <i class="fas fa-link"></i>
    </div><!-- pointer end -->

    <!-- to-top-btn start -->
    <a class="to-top-btn pointer-small" href="#up">
        <span class="to-top-arrow"></span>
    </a><!-- to-top-btn end -->

      <!-- header start -->
      <header class="fixed-header">
        <!-- header-flex-box start -->
      <div class="header-flex-box">
          <!-- logo start -->
        <a href="/" style="margin-top:13px;" class="logo pointer-large animsition-link">
          <div class="logo-img-box">
                <img class="logo-white" style="width:80px;" src="images/logo/logo-white.png" alt="logo">
                <img class="logo-black" style="width:80px;" src="images/logo/logo-black.png" alt="logo">
              </div>
            </a><!-- logo end -->

        <!-- menu-open start -->
        <div style="margin-top:30px;" class="menu-open pointer-large">
          <span class="hamburger"></span>
        </div><!-- menu-open end -->
        </div><!-- header-flex-box end -->
    </header><!-- header end -->

    <!-- nav-container start -->
    <nav class="nav-container dark-bg-1">
      <!-- nav-logo start -->
      <div class="nav-logo">
        <img src="images/logo/logo-white.png" alt="logo">
      </div><!-- nav-logo end -->

      <!-- menu-close -->
      <div class="menu-close pointer-large"></div>

      <!-- dropdown-close-box start -->
      <div class="dropdown-close-box">
        <div class="dropdown-close pointer-large">
          <span></span>
        </div>
      </div><!-- dropdown-close-box end -->

      <!-- nav-menu start -->
      <ul class="nav-menu dark-bg-1">
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change active">
          <a href="/" class="animsition-link pointer-large nav-link">
            <span class="nav-btn" data-text="Home">Home</span>
          </a>
          <div class="nav-bg" style="background-image: url(images/backgrounds/city.jpg);"></div>
        </li><!-- nav-box end -->
        <!-- nav-box start -->
        <!-- <li class="nav-box nav-bg-change">
          <a href="/team" class="animsition-link pointer-large nav-link">
            <span class="nav-btn" data-text="The Team">The Team</span>
          </a>
          <div class="nav-bg" style="background-image: url(images/backgrounds/team.jpg);"></div>
        </li> -->
        <!-- nav-box start -->
        <!-- <li class="nav-box nav-bg-change">
          <a href="/services" class="animsition-link pointer-large nav-link">
            <span class="nav-btn" data-text="Services">Services</span>
          </a>
          <div class="nav-bg" style="background-image: url(images/backgrounds/brandon.jpg);"></div>
        </li> -->
        <!-- nav-box start -->
        <!-- nav-box start -->
        <li class="nav-box nav-bg-change">
          <a href="/work" class="animsition-link pointer-large nav-link">
            <span class="nav-btn" data-text="Work">Work</span>
          </a>
          <div class="nav-bg" style="background-image: url(images/backgrounds/city2.jpg);"></div>
        </li><!-- nav-box end -->
        <li class="nav-box nav-bg-change">
          <a href="/contact" class="animsition-link pointer-large nav-link">
            <span class="nav-btn" data-text="Contact">Contact</span>
          </a>
          <div class="nav-bg" style="background-image: url(images/backgrounds/city3.jpg);"></div>
        </li><!-- nav-box end -->
      </ul><!-- nav-menu end -->
    </nav><!-- nav-container end -->


		<!-- animsition-overlay start -->
		<main class="animsition-overlay" data-animsition-overlay="true">
			<!-- page-head start -->
			<section id="up" class="page-head flex-min-height-box dark-bg-1">
				<!-- page-head-bg -->
				<div class="page-head-bg overlay-loading2" style="background-image: url(images/backgrounds/more.jpg);"></div>

				<!-- flex-min-height-inner start -->
	  			<div class="flex-min-height-inner">
		  			<!-- flex-container start -->
		  			<div class="container top-bottom-padding-120 flex-container response-999">
			  			<!-- column start -->
			  			<div class="six-columns six-offset">
				  			<div class="content-left-margin-40">
				  				<h2 class="large-title-bold">
									<span class="load-title-fill tr-delay03" data-text="The Best">The Best</span><br>
									<span class="load-title-fill tr-delay04" data-text="Agency For">Agency For</span><br>
									<span class="load-title-fill tr-delay05" data-text="Your Businnes">Your Businnes</span>
								</h2>
								<p class="p-style-bold-up text-height-20 d-flex-wrap">
									<span class="load-title-fill tr-delay08" data-text="A Marketing">A Marketing</span>
									<span class="load-title-fill tr-delay09" data-text="agency built for">Agency Built for</span>
									<span class="load-title-fill tr-delay10" data-text="tomorrow">Tomorrow</span>
								</p>
				  			</div>
			  			</div><!-- column end -->
		  			</div><!-- flex-container end -->
	  			</div><!-- flex-min-height-inner end -->

	  			<!-- scroll-btn start -->
				<a href="#down" class="scroll-btn pointer-large">
					<div class="scroll-arrow-box">
						<span class="scroll-arrow"></span>
					</div>
					<div class="scroll-btn-flip-box">
						<span class="scroll-btn-flip" data-text="Scroll">Scroll</span>
					</div>
				 </a><!-- scroll-btn end -->
			</section><!-- page-head end -->

			<!-- flex-min-height-box start -->
			<section id="down" class="dark-bg-1 flex-min-height-box">
				<!-- flex-min-height-inner start -->
				<div class="flex-min-height-inner">
					<!-- container start -->
					<div class="container top-padding-120 bottom-padding-60">
						<div data-animation-container>
							<h2 class="large-title text-center">
								<span data-animation-child class="title-fill" data-animation="title-fill-anim" data-text="Contact us">Contact us</span>
							</h2>
							<p data-animation-child class="p-style-small text-color-5 fade-anim-box tr-delay03" data-animation="fade-anim">Can't wait to speak with you on how we can help you grow your business!  The best way to contact us is either by phone or email, these will have the quickest response time, however if you'd like to fill out the contact form below you are more than welcome too.</p>
						</div>

						<!-- flex-container start -->
						<div class="flex-container top-padding-90 contact-box">
							<!-- column start -->
							<div class="four-columns bottom-padding-60">
								<div data-animation-container class="content-right-margin-20">
									<p data-animation-child class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">Email us</p>
									<p class="title-style text-color-4">
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">Mark Josey</span><br>
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay02" data-animation="overlay-anim2">Sam Kulikov</span><br>
									</p>
									<h6 data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
										<a href="#" class="flip-btn pointer-large" data-text="mark@socialapexmedia.com">mark@socialapexmedia.com</a>
									</h6>
									<h6 data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
										<a href="#" class="flip-btn pointer-large" data-text="sam@socialapexmedia.com">sam@socialapexmedia.com</a>
									</h6>
								</div>
							</div><!-- column end -->
							<!-- column start -->
							<div class="four-columns bottom-padding-60">
								<div data-animation-container class="content-left-right-margin-10">
									<p data-animation-child class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">Visit us</p>
									<h6 class="title-style text-color-4">
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">512 Delaware Street</span><br>
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay02" data-animation="overlay-anim2">Kansas City</span><br>
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay03" data-animation="overlay-anim2">MO 64105</span>
									</h6>
									<div data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
										<a href="#" class="flip-btn pointer-large" data-text="open in google maps">open in google maps</a>
									</div>
								</div>
							</div><!-- column end -->
							<!-- column start -->
							<div class="four-columns bottom-padding-60">
								<div data-animation-container class="content-left-margin-20">
									<p data-animation-child class="small-title-oswald red-color overlay-anim-box2" data-animation="overlay-anim2">Call us</p>
									<p class="title-style text-color-4">
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay01" data-animation="overlay-anim2">THE TEAM</span><br>
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay02" data-animation="overlay-anim2">SOCIAL APEX MEDIA</span><br>
										<span data-animation-child class="overlay-anim-box2 overlay-light-bg-1 tr-delay03" data-animation="overlay-anim2">CEO - MARK JOSEY</span>
									</p>
									<h6 data-animation-child class="flip-btn-box fade-anim-box tr-delay04" data-animation="fade-anim">
										<a href="#" class="flip-btn pointer-large" data-text="+1 913 749-7575">+1 913 749-7575</a>
									</h6>
								</div>
							</div><!-- column end -->
						</div><!-- flex-container end -->
					</div><!-- container end -->
				</div><!-- flex-min-height-inner end -->
			</section><!-- flex-min-height-box end -->

<div class="typeform-widget" data-url="https://socialapex.typeform.com/to/QPnrMN" style="width: 100%; height: 700px;"></div> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm", b="https://embed.typeform.com/"; if(!gi.call(d,id)) { js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=QPnrMN&utm_source=typeform.com-14278789-Basic&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a> </div>


		</main><!-- animsition-overlay end -->

    <!-- footer start -->
    <footer class="footer dark-bg-1">
      <!-- flex-container start -->
      <div class="flex-container container top-bottom-padding-90">
        <!-- column start -->
        <div class="two-columns bottom-padding-60">
          <div class="content-right-margin-10 footer-center-mobile">
            <img class="footer-logo" src="images/logo/logo-white.png" alt="logo">
          </div>
        </div><!-- column end -->
        <!-- column start -->
        <div class="three-columns bottom-padding-60">
          <div class="content-left-right-margin-10">
            <ul class="footer-menu text-color-4">
              <li><a class="pointer-large animsition-link small-title-oswald hover-color active" href="/">Home</a></li>
              <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="/team">The Team</a></li>
              <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="/work">Work</a></li>
              <li><a class="pointer-large animsition-link small-title-oswald hover-color" href="/contact">Contact</a></li>
            </ul>
          </div>
        </div><!-- column end -->
        <!-- column start -->
        <div class="four-columns bottom-padding-60">
          <div class="content-left-right-margin-10 footer-center-mobile">
            <ul class="footer-information text-color-4">
              <li><i class="far fa-envelope"></i><a href="#" class="xsmall-title-oswald">info@socialapexmedia.com</a></li>
              <li><i class="fas fa-mobile-alt"></i><a href="#" class="xsmall-title-oswald">+1 913 749-7575</a></li>
              <li><i class="fas fa-map-marker-alt"></i><a href="#" class="xsmall-title-oswald text-height-17">512 Delaware Street<br><span>Kansas City, MO 64105</span></a></li>
            </ul>
          </div>
        </div><!-- column end -->
        <!-- column start -->
        <div class="three-columns bottom-padding-60">
          <div class="content-left-margin-10">
            <ul class="footer-social">
              <li>
                <div class="flip-btn-box">
                  <a href="https://www.instagram.com/socialapex" class="flip-btn pointer-small" data-text="Instagram">Instagram</a>
                </div>
              </li>
              <li>
                <div class="flip-btn-box">
                  <a href="https://www.facebook.com/socialapexkc" class="flip-btn pointer-small" data-text="Facebook">Facebook</a>
                </div>
              </li>
              <li>
                <div class="flip-btn-box">
                  <a href="https://www.linkedin.com/company/socialapex" class="flip-btn pointer-small" data-text="Linkedin">Linkedin</a>
                </div>
              </li>
            </ul>
          </div>
        </div><!-- column end -->
        <!-- column start -->
        <div class="twelve-columns">
          <p class="p-letter-style text-color-4 footer-copyright">&copy; Copyright 2019 Social Apex Media.</p>
        </div><!-- column end -->
      </div><!-- flex-container end -->
    </footer><!-- footer end -->

    <!-- scripts -->
        <script src="js/plugins.js"></script>
        <script src="js/main.js"></script>
        <script src="js/particles_init.js"></script>
    </body>
    </html>
